{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript",
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        }
      }
    ]
  ],
  "plugins": ["relay"]
}
